.__ .header {
    flex:0 0 auto;
    display:flex;
    flex-direction: column;
    flex-shrink:0;
    order:-10;
    position: relative;
    text-align: center;
	background:#fff;
	color:#007AFF;
	border-bottom: 1px solid #b3b3b3;
	pointer-events:auto;
}
.__ .header .icon {
	position: absolute;
	top: 0;
	width:5rem;
	height:5rem;
	padding:1.5rem;
	fill:none;
	stroke:white;
}
.__ .header .icon.left{
	left: 1.5rem;
}
.__ .header .icon.right{
	right: 1.5rem;
}
.__ .header>h1{
	font-size: 2.2rem;
	font-weight: normal;
	line-height:5rem;
}
